<div class="help-section">
  <div class="container-fluid text-center">
    <h2 class="help-title color-white">We are here to help you?</h2>
    <p class="color-white help-subtitle">Subscribe to get our newsletters</p>
    <a href="#" class="color-white subscribe">Subscribe Newsletters</a>
  </div>
</div>

<!-- Down Arrow -->
<div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 80" preserveAspectRatio="none" class="down-arrow">
    <polygon fill="#ee5057" points="0,0  100,0  50,80"></polygon>
  </svg>
  <div class="container  m-auto">
    <div class="info-section">
      <div class="row text-center my-5">
        <div class="col-md-4 article">
          <i class="bi bi-hammer"></i>
          <h3 class="article-title">Level HTML Template by Tooplate website</h3>
          <p>You are allowed to download, edit and use this template for your business or client websites.</p>
          <a href="#" class="text-uppercase ">Continue reading...</a>
        </div>
        <div class="col-md-4 article">
          <i class="bi bi-airplane-engines-fill"></i>
          <h3 class="article-title">Original Website Template Producer</h3>
          <p>You are NOT allowed to re-distribute the downloadable template ZIP file on any website.</p>
          <a href="#" class="text-uppercase ">Continue reading...</a>
        </div>
        <div class="col-md-4 article">
          <i class="bi bi-life-preserver"></i>
          <h3 class="article-title">Contact us if you have any question</h3>
          <p>If you see this template being distributed on any other site, that is an illegal copy.</p>
          <a href="#" class="text-uppercase  ">Continue reading...</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer-section">
  <div class="container">
    <div class="row justify-content-center d-flex align-items-center">
      <!-- Logo Section -->
      <div class="col-12 justify-content-center d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center justify-content-center" href="#">
          <img src="assets/img/logo.png" alt="Logo" width="40" />
          <h3 class="fw-bold ms-2 mb-0">Level</h3>
        </a>
      </div>

      <!-- Social Icons Section -->
      <div class="col-12 footer-icons d-flex justify-content-center mt-3">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-linkedin"></i>
        <i class="bi bi-twitter-x"></i>
      </div>

      <!-- Copyright Section -->
      <div class="col-12 cpy text-center mt-4">
        <p>Copyright © 2025 Your Company - Design: Tooplate</p>
      </div>
    </div>
  </div>
</footer>